@import 'swiper/css';
@import 'swiper/css/thumbs';

.swiper-images {
    border-radius: 12px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-10, #1A1A1A);
    padding: 2em .5em;
}

